In [23]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [24]:
# File to Load (Remember to Change These)
file_1 = "Mergerd_table.csv"
file_2 = "country_pop.csv"

In [25]:
# Read Purchasing File and store into Pandas data frame
data_1 = pd.read_csv(file_1)
data_2 = pd.read_csv(file_2)
merged = data_1.merge(data_2, on='Country name')
# merged

In [26]:
# Change data from string to integer
#data["2011 AO"] = data_df["2011 AO"].astype(int)

In [27]:
merged['2011_SUBS_norm'] = merged['2011 SUBS']/(merged['2011']*1000)
# merged.head

In [28]:
merged['2014_SUBS_norm'] = merged['2014 SUBS']/(merged['2014']*1000)
# merged.head

In [29]:
merged['2017_SUBS_norm'] = merged['2017 SUBS']/(merged['2017']*1000)
# merged.head

In [46]:
normalized = merged.rename(columns = {'Country name':'Country_name', '2011 AO':'2011_AO', '2014 AO':'2014_AO', '2017 AO':'2017_AO', '2011 PCI ':'2011_PCI', '2014 PCI':'2014_PCI', '2017 PCI': '2017_PCI', '2011 SUBS':'2011_SUBS', '2014 SUBS':'2014_SUBS', '2017 SUBS':'2017_SUBS'})
normalized.head(1)

,Unnamed: 0,Country_name,2011_AO,2014_AO,2017_AO,2011_PCI,2014_PCI,2017_PCI,2011_SUBS,2014_SUBS,2017_SUBS,2011,2014,2017,2011_SUBS_norm,2014_SUBS_norm,2017_SUBS_norm
0,0,Afghanistan,9.005013,9.961,14.893312,519,532,488,13797900,18407200,23929700,30117.411,33370.804,36296.111,0.458137,0.551596,0.659291

In [47]:
normalized.to_csv('merged_normalized_data.csv', index = False, header=True)