In [24]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [25]:
# File to Load (Remember to Change These)
file_1 = "data-account_ownership.csv"
file_2 = "data-mobile_subscriptions.csv"

In [29]:
# Read Purchasing File and store into Pandas data frame
ao = pd.read_csv(file_1)
ms = pd.read_csv(file_2)
ao.head()
# ms.head()

  country_name    2011_AO    2014_AO    2017_AO
0  Afghanistan   9.005013   9.961000  14.893312
1      Albania  28.268126  37.986355  40.015171
2      Algeria  33.286114  50.475788  42.776627
3   Arab World  22.260538  30.277130  37.165211
4    Argentina  33.130219  50.197296  48.708488

In [30]:
# Integrate data
data_df = [ao,ms]
# data_df

In [32]:
# Change data from string to integer
data_df["2011_AO"] = data_df["2011_AO"].astype(int)

TypeError: list indices must be integers or slices, not str

In [31]:
data_df["2011_AO"] = 1000 * data_df["2011_AO"]

TypeError: list indices must be integers or slices, not str