In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [20]:
# File to Load (Remember to Change These)
file_1 = "Mergerd_table.csv"
file_2 = "country_pop.csv"

In [21]:
# Read Purchasing File and store into Pandas data frame
data_1 = pd.read_csv(file_1)
data_2 = pd.read_csv(file_2)
merged = data_1.merge(data_2, on='Country name')
merged

,Unnamed: 0,Country name,2011 AO,2014 AO,2017 AO,2011 PCI,2014 PCI,2017 PCI,2011 SUBS,2014 SUBS,2017 SUBS,2011,2014,2017
0,0,Afghanistan,9.005013,9.961000,14.893312,519,532,488,13797900,18407200,23929700,30117.411,33370.804,36296.111
1,1,Albania,28.268126,37.986355,40.015171,3667,3775,3673,3100000,3359650,3625700,2928.601,2896.307,2884.169
2,2,Algeria,33.286114,50.475788,42.776627,3960,4106,3248,35615900,43298200,45845700,36661.438,38923.688,41389.174
3,4,Argentina,33.130219,50.197296,48.708488,10957,10434,12344,60722700,61234200,61897400,41320.497,42637.508,43937.143
4,5,Australia,99.064842,98.859566,99.519371,47826,48104,41849,23789000,25060000,27463000,22538.002,23596.426,24584.619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,114,United Kingdom,97.201286,98.931053,96.366318,35731,39477,33877,77162300,78460700,79152800,64021.922,65423.048,66727.463
100,116,Uruguay,23.542601,45.585728,63.868004,12882,14394,14467,4757430,5497090,5097570,3368.926,3400.439,3436.645
101,117,Uzbekistan,22.503918,40.710014,37.089737,1581,2205,1643,25441800,21639200,24265500,28977.006,30426.394,31959.774
102,119,Zambia,21.364910,35.644871,45.863258,1140,1321,1104,8164550,10114900,13438500,14023.199,15399.793,16853.608
103,120,Zimbabwe,39.651211,32.389252,55.285137,793,1134,1233,9200000,11798700,14092100,12894.323,13586.710,14236.599

In [8]:
# Change data from string to integer
#data["2011 AO"] = data_df["2011 AO"].astype(int)

In [33]:
merged['2011_SUBS_norm'] = merged['2011 SUBS']/(merged['2011']*1000)
merged.head

<bound method NDFrame.head of      Unnamed: 0    Country name    2011 AO    2014 AO    2017 AO  2011 PCI   \
0             0     Afghanistan   9.005013   9.961000  14.893312        519
1             1         Albania  28.268126  37.986355  40.015171       3667
2             2         Algeria  33.286114  50.475788  42.776627       3960
3             4       Argentina  33.130219  50.197296  48.708488      10957
4             5       Australia  99.064842  98.859566  99.519371      47826
..          ...             ...        ...        ...        ...        ...
99          114  United Kingdom  97.201286  98.931053  96.366318      35731
100         116         Uruguay  23.542601  45.585728  63.868004      12882
101         117      Uzbekistan  22.503918  40.710014  37.089737       1581
102         119          Zambia  21.364910  35.644871  45.863258       1140
103         120        Zimbabwe  39.651211  32.389252  55.285137        793

     2014 PCI  2017 PCI  2011 SUBS  2014 SUBS  2017 SUBS       2011  \
0         532       488   13797900   18407200   23929700  30117.411
1        3775      3673    3100000    3359650    3625700   2928.601
2        4106      3248   35615900   43298200   45845700  36661.438
3       10434     12344   60722700   61234200   61897400  41320.497
4       48104     41849   23789000   25060000   27463000  22538.002
..        ...       ...        ...        ...        ...        ...
99      39477     33877   77162300   78460700   79152800  64021.922
100     14394     14467    4757430    5497090    5097570   3368.926
101      2205      1643   25441800   21639200   24265500  28977.006
102      1321      1104    8164550   10114900   13438500  14023.199
103      1134      1233    9200000   11798700   14092100  12894.323

          2014       2017  2011 SUBS_norm  2014 SUBS_norm  2011_SUBS_norm
0    33370.804  36296.111        0.458137        0.551596        0.458137
1     2896.307   2884.169        1.058526        1.159977        1.058526
2    38923.688  41389.174        0.971481        1.112387        0.971481
3    42637.508  43937.143        1.469554        1.436158        1.469554
4    23596.426  24584.619        1.055506        1.062025        1.055506
..         ...        ...             ...             ...             ...
99   65423.048  66727.463        1.205248        1.199282        1.205248
100   3400.439   3436.645        1.412150        1.616582        1.412150
101  30426.394  31959.774        0.878000        0.711198        0.878000
102  15399.793  16853.608        0.582217        0.656821        0.582217
103  13586.710  14236.599        0.713492        0.868400        0.713492

[104 rows x 17 columns]>

In [34]:
merged['2014_SUBS_norm'] = merged['2014 SUBS']/(merged['2014']*1000)
merged.head

<bound method NDFrame.head of      Unnamed: 0    Country name    2011 AO    2014 AO    2017 AO  2011 PCI   \
0             0     Afghanistan   9.005013   9.961000  14.893312        519
1             1         Albania  28.268126  37.986355  40.015171       3667
2             2         Algeria  33.286114  50.475788  42.776627       3960
3             4       Argentina  33.130219  50.197296  48.708488      10957
4             5       Australia  99.064842  98.859566  99.519371      47826
..          ...             ...        ...        ...        ...        ...
99          114  United Kingdom  97.201286  98.931053  96.366318      35731
100         116         Uruguay  23.542601  45.585728  63.868004      12882
101         117      Uzbekistan  22.503918  40.710014  37.089737       1581
102         119          Zambia  21.364910  35.644871  45.863258       1140
103         120        Zimbabwe  39.651211  32.389252  55.285137        793

     2014 PCI  2017 PCI  2011 SUBS  2014 SUBS  2017 SUBS       2011  \
0         532       488   13797900   18407200   23929700  30117.411
1        3775      3673    3100000    3359650    3625700   2928.601
2        4106      3248   35615900   43298200   45845700  36661.438
3       10434     12344   60722700   61234200   61897400  41320.497
4       48104     41849   23789000   25060000   27463000  22538.002
..        ...       ...        ...        ...        ...        ...
99      39477     33877   77162300   78460700   79152800  64021.922
100     14394     14467    4757430    5497090    5097570   3368.926
101      2205      1643   25441800   21639200   24265500  28977.006
102      1321      1104    8164550   10114900   13438500  14023.199
103      1134      1233    9200000   11798700   14092100  12894.323

          2014       2017  2011 SUBS_norm  2014 SUBS_norm  2011_SUBS_norm  \
0    33370.804  36296.111        0.458137        0.551596        0.458137
1     2896.307   2884.169        1.058526        1.159977        1.058526
2    38923.688  41389.174        0.971481        1.112387        0.971481
3    42637.508  43937.143        1.469554        1.436158        1.469554
4    23596.426  24584.619        1.055506        1.062025        1.055506
..         ...        ...             ...             ...             ...
99   65423.048  66727.463        1.205248        1.199282        1.205248
100   3400.439   3436.645        1.412150        1.616582        1.412150
101  30426.394  31959.774        0.878000        0.711198        0.878000
102  15399.793  16853.608        0.582217        0.656821        0.582217
103  13586.710  14236.599        0.713492        0.868400        0.713492

     2014_SUBS_norm
0          0.551596
1          1.159977
2          1.112387
3          1.436158
4          1.062025
..              ...
99         1.199282
100        1.616582
101        0.711198
102        0.656821
103        0.868400

[104 rows x 18 columns]>

In [35]:
merged['2017_SUBS_norm'] = merged['2017 SUBS']/(merged['2017']*1000)
merged.head

<bound method NDFrame.head of      Unnamed: 0    Country name    2011 AO    2014 AO    2017 AO  2011 PCI   \
0             0     Afghanistan   9.005013   9.961000  14.893312        519
1             1         Albania  28.268126  37.986355  40.015171       3667
2             2         Algeria  33.286114  50.475788  42.776627       3960
3             4       Argentina  33.130219  50.197296  48.708488      10957
4             5       Australia  99.064842  98.859566  99.519371      47826
..          ...             ...        ...        ...        ...        ...
99          114  United Kingdom  97.201286  98.931053  96.366318      35731
100         116         Uruguay  23.542601  45.585728  63.868004      12882
101         117      Uzbekistan  22.503918  40.710014  37.089737       1581
102         119          Zambia  21.364910  35.644871  45.863258       1140
103         120        Zimbabwe  39.651211  32.389252  55.285137        793

     2014 PCI  2017 PCI  2011 SUBS  2014 SUBS  2017 SUBS       2011  \
0         532       488   13797900   18407200   23929700  30117.411
1        3775      3673    3100000    3359650    3625700   2928.601
2        4106      3248   35615900   43298200   45845700  36661.438
3       10434     12344   60722700   61234200   61897400  41320.497
4       48104     41849   23789000   25060000   27463000  22538.002
..        ...       ...        ...        ...        ...        ...
99      39477     33877   77162300   78460700   79152800  64021.922
100     14394     14467    4757430    5497090    5097570   3368.926
101      2205      1643   25441800   21639200   24265500  28977.006
102      1321      1104    8164550   10114900   13438500  14023.199
103      1134      1233    9200000   11798700   14092100  12894.323

          2014       2017  2011 SUBS_norm  2014 SUBS_norm  2011_SUBS_norm  \
0    33370.804  36296.111        0.458137        0.551596        0.458137
1     2896.307   2884.169        1.058526        1.159977        1.058526
2    38923.688  41389.174        0.971481        1.112387        0.971481
3    42637.508  43937.143        1.469554        1.436158        1.469554
4    23596.426  24584.619        1.055506        1.062025        1.055506
..         ...        ...             ...             ...             ...
99   65423.048  66727.463        1.205248        1.199282        1.205248
100   3400.439   3436.645        1.412150        1.616582        1.412150
101  30426.394  31959.774        0.878000        0.711198        0.878000
102  15399.793  16853.608        0.582217        0.656821        0.582217
103  13586.710  14236.599        0.713492        0.868400        0.713492

     2014_SUBS_norm  2017_SUBS_norm
0          0.551596        0.659291
1          1.159977        1.257104
2          1.112387        1.107674
3          1.436158        1.408772
4          1.062025        1.117081
..              ...             ...
99         1.199282        1.186210
100        1.616582        1.483298
101        0.711198        0.759251
102        0.656821        0.797366
103        0.868400        0.989850

[104 rows x 19 columns]>

In [39]:
merged.to_csv('merged_normalized_data.csv', index = False, header=True)